@import url("https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,300;0,400;0,500;0,600;0,700;0,800;1,700&display=swap");
.container .hero {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  padding-top: 1rem;
  height: 100vh;
}

.container .hero .logo p {
  color: #a395e9;
  font-weight: 600;
  cursor: pointer;
}

.container .hero .logo p:hover {
  color: #9584e6;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.container .hero .nav-item {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: fixed;
  bottom: 0%;
  left: 50%;
  right: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  width: 26%;
  background-color: rgba(32, 28, 54, 0.8);
  -webkit-backdrop-filter: buler(10px);
          backdrop-filter: buler(10px);
  align-items: center;
  border-radius: 3rem;
  z-index: 9;
}

.container .hero .nav-item .nav-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  text-align: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  border-radius: 2rem;
}

.container .hero .nav-item .nav-list ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 100%;
  margin: .7rem 2rem;
  border-radius: 2rem;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.container .hero .nav-item .nav-list ul li {
  -webkit-transition: .4s all;
  transition: .4s all;
}

.container .hero .nav-item .nav-list ul li a {
  color: #babec4;
  font-size: 1.2rem;
  font-weight: 600;
  padding: .5rem .7rem;
  margin-left: 10px;
  border-radius: 50%;
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.container .hero .nav-item .nav-list ul li a:hover {
  background: -webkit-gradient(linear, left top, left bottom, from(#a395e9), to(rgba(163, 149, 233, 0.2)));
  background: linear-gradient(180deg, #a395e9, rgba(163, 149, 233, 0.2));
  -webkit-transition: all 4s ease-in-out;
  transition: all 4s ease-in-out;
}

.container .hero .nav-item .nav-list ul li .active {
  background: -webkit-gradient(linear, left top, left bottom, from(#a395e9), to(rgba(163, 149, 233, 0.2)));
  background: linear-gradient(180deg, #a395e9, rgba(163, 149, 233, 0.2));
  -webkit-transition: all .5s ease-in;
  transition: all .5s ease-in;
}

.container .hero .nav-item .nav-list ul li:hover {
  -webkit-transform: translateY(-10px);
          transform: translateY(-10px);
}

.container .hero .main {
  width: 100%;
  text-align: center;
  margin-top: 2rem;
  overflow-y: hidden;
  height: 100vh;
}

.container .hero .main p {
  font-size: 0.813rem;
  font-weight: 500;
  color: white;
  letter-spacing: 1px;
}

.container .hero .main h1 {
  font-size: 1.75rem;
  font-weight: 600;
}

.container .hero .main .btn {
  margin-top: 2rem;
}

.container .hero .main .btn button {
  background-color: transparent;
  padding: .5rem 1rem;
  color: #9584e6;
  border: 2px solid #9584e6;
  border-radius: .6rem;
  margin-right: 4px;
  font-size: 0.938rem;
  font-weight: 500;
  -webkit-transition: .4s all;
  transition: .4s all;
}

.container .hero .main .btn button:hover {
  background-color: #9584e6;
  color: black;
}

.container .hero .main .btn .btn1 {
  background-color: #a395e9;
  color: black;
  font-size: 0.938rem;
  font-weight: 500;
  -webkit-transition: .4s all;
  transition: .4s all;
  margin-left: 24px;
}

.container .hero .main .btn .btn1:hover {
  background-color: #9584e6;
}

.container .hero .main .image {
  width: 250px;
  margin: auto;
  height: 330px;
  -ms-grid-column-align: center;
      justify-self: center;
  overflow-y: hidden;
}

.container .hero .main .image img {
  margin-top: 2rem;
  background: -webkit-gradient(linear, left top, left bottom, from(#a395e9), to(rgba(163, 149, 233, 0.2)));
  background: linear-gradient(180deg, #a395e9, rgba(163, 149, 233, 0.2));
  border-radius: 10rem 10rem 1rem 1rem;
  -ms-grid-column-align: center;
      justify-self: center;
  overflow-y: hidden;
}

.about-section {
  padding-top: 2rem;
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 1rem;
  height: 100vh;
}

.about-section .about {
  margin-top: 5rem;
  z-index: 99;
  height: 100vh;
}

.about-section .about p {
  text-align: center;
  font-size: 0.75rem;
  font-weight: 500;
  color: white;
}

.about-section .about h2 {
  text-align: center;
  font-size: 1.5rem;
  color: #9584e6;
  margin-bottom: 1rem;
}

.about-section .about .about-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  margin-top: 5rem;
  margin-bottom: 5rem;
}

.about-section .about .about-item img {
  width: 300px;
  height: 300px;
  border-radius: .8rem;
  margin-right: 3rem;
}

.about-section .about .about-item .about-card {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  margin-left: 2rem;
}

.about-section .about .about-item .about-card .card1 {
  text-align: center;
  width: 200px;
  background-color: rgba(32, 28, 54, 0.8);
  -webkit-backdrop-filter: buler(10px);
          backdrop-filter: buler(10px);
  margin-right: 2rem;
  height: 140px;
  border-radius: .9rem;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  cursor: pointer;
  position: relative;
}

.about-section .about .about-item .about-card .card1 i {
  margin-top: 1.5rem;
  font-size: 2rem;
  color: #9584e6;
  margin-bottom: 1px;
}

.about-section .about .about-item .about-card .card1 p {
  font-size: 16px;
}

.about-section .about .about-item .about-card .card1 span {
  font-size: 14px;
}

.about-section .about .about-item .about-card .card1:hover {
  -webkit-transition: all .4s ease-in-out;
  transition: all .4s ease-in-out;
  -webkit-transform: translateY(-10%);
          transform: translateY(-10%);
}

.about-section .about .pra {
  margin-top: -190px;
  margin-left: 271px;
  margin-bottom: 3px;
  overflow-y: hidden;
}

.about-section .about .pra h6 {
  font-size: 15px;
  font-weight: 400;
}

.about-section .about .pra button {
  padding: .4rem 1.1rem;
  margin-top: 20px;
  background-color: #a395e9;
  color: black;
  font-size: 0.938rem;
  font-weight: 500;
  -webkit-transition: .4s all;
  transition: .4s all;
  border-radius: .5rem;
}

.about-section .about .pra button:hover {
  background-color: #9584e6;
}

.skill-section {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 5rem;
  padding-top: 3rem;
}

.skill-section .p {
  text-align: center;
  font-size: 14px;
  color: white;
}

.skill-section h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #9584e6;
  margin-bottom: 2rem;
}

.skill-section .skill {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}

.skill-section .skill .skill-title {
  width: 40%;
  background-color: rgba(32, 28, 54, 0.8);
  -webkit-backdrop-filter: buler(10px);
          backdrop-filter: buler(10px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 4rem;
  border-radius: 1rem;
  margin-bottom: 4rem;
}

.skill-section .skill .skill-title .p1 {
  text-align: center;
  font-size: 15px;
  font-weight: 600;
  color: #9584e6;
  margin-top: 2rem;
}

.skill-section .skill .skill-title .skill-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-top: 3rem;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  padding-left: 3rem;
  padding-right: 3rem;
  padding-bottom: 2rem;
}

.skill-section .skill .skill-title .skill-item .skill-more {
  margin: 0rem 2rem;
}

.skill-section .skill .skill-title .skill-item .skill-more i {
  color: #9584e6;
  position: relative;
}

.skill-section .skill .skill-title .skill-item .skill-more .p2 {
  font-size: 16px;
  font-weight: 600;
  color: white;
  letter-spacing: 1px;
  text-transform: uppercase;
}

.skill-section .skill .skill-title .skill-item .skill-more p {
  font-size: 0.75rem;
}

.services-section {
  width: 70%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 3rem;
  padding-top: 5rem;
  padding-bottom: 2rem;
}

.services-section .services {
  padding-bottom: 4rem;
}

.services-section .services .p3 {
  text-align: center;
  font-size: 14px;
  color: white;
}

.services-section .services h2 {
  text-align: center;
  font-size: 1.5rem;
  font-weight: 600;
  color: #9584e6;
  margin-bottom: 4rem;
}

.services-section .services .services-item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-top: 3rem;
}

.services-section .services .services-item .services-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin: 2rem 2rem;
  width: 20%;
  height: 200px;
  background-color: rgba(32, 28, 54, 0.8);
  -webkit-backdrop-filter: buler(10px);
          backdrop-filter: buler(10px);
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-radius: 1rem;
  margin-bottom: 4rem;
  padding: 0rem 1.5rem;
  cursor: pointer;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

.services-section .services .services-item .services-list:hover {
  -webkit-transform: translatey(-15px);
          transform: translatey(-15px);
}

.services-section .services .services-item .services-list .services-title {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.services-section .services .services-item .services-list .services-title h3 {
  color: white;
  font-size: 1.25rem;
  font-weight: 500;
  margin-bottom: 1.9rem;
}

.services-section .services .services-item .services-list .services-title p {
  color: #a395e9;
  font-size: 14px;
  cursor: pointer;
  -webkit-transition: .3s ease-in-out;
  transition: .3s ease-in-out;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.services-section .services .services-item .services-list .services-title p:hover {
  color: #9584e6;
  text-decoration: underline;
  -webkit-transform: translateX(10px);
          transform: translateX(10px);
}

.services-section .services .services-item .services-list .services-title p i {
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 10px;
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  scroll-behavior: smooth;
}

body
, button,
textarea,
input {
  font-family: 'Poppins', sans-serif;
  font-size: 0.938rem;
}

body {
  background: #0b111e;
  color: #babec4;
  overflow-x: hidden;
}

h1, h2, h3 {
  font-weight: 600;
  color: #f0f2f4;
}

ul {
  list-style: none;
}

a {
  text-decoration: none;
}

button {
  cursor: pointer;
  border: none;
  outline: none;
}

img {
  max-width: 100%;
  height: auto;
}
/*# sourceMappingURL=main.css.map */